<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital Details</title>
</head>
<body>
<h2>All Over TN Hospital Details</h2>
<table border="2">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Place</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hospital : ${hospitals}">
        <td th:text="${hospital.id}"></td>
        <td th:text="${hospital.name}"></td>
        <td th:text="${hospital.place}"></td>
        <td th:text="${hospital.location}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>